* {
	box-sizing: border-box;
	font-family: "Roboto";
}
body {
	margin: 0;
}
ul {
	list-style-type: none;
}
li {
	margin-bottom: 20px;
}
a:link, a:visited {
	text-decoration-line: none;
	margin-right: 40px;
	color: black;
}
h2, h3 {
	text-align: center;
}
.header {
	background-color: tan;
	text-align: center;
	padding: 10px;
}
.top-nav {
	padding-left: 40px;
	background-color: darkturquoise ;
	text-align: center;
	color: white;
	font-size: 21px
}
.content {
	width: 70%;
	min-width: 766px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.aside {
	background-color: wheat;
	width: 20%;
	text-align: center;
}
.main {
	width: 100%;
	background-color: floralwhite;
}
.article {
	width: 80%;
	background-color: wheat;
	padding: 20px;
	margin: auto;
	margin-top: 20px;
}
.section {
	width: 80%;
	display: flex;
	justify-content: space-between;	
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.section > div {
	width: 20%;
	height: 150px;
	background-color: darkgoldenrod;
	text-align: center;
	color: white;
	font-size: 14px;
}
.quote {
	padding: 20px;
	color: tan;
}
footer {
	background-color: tan;
	text-align: center;
	padding: 15px;
}